@charset 'UTF-8';

@font-face {
    font-family: "Passion One";
    src: url("fontes/PassionOne.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sriracha";
    src: url("fontes/Sriracha.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --preto: black;
    --branco: white;
    --translucido: rgba(0, 0, 0, 0.5);
    --fonte1: "Passion One";
    --fonte2: "Sriracha";
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}

header > h1 {
    font-size: 10vw;
    padding: 0;
    font-variant: small-caps;
    font-family: var(--fonte1);
}

header > p {
    font-size: 50%;
    padding: 0;
}

header {
    padding: 70px;
}

a {
    font-weight: bold;
    color: var(--branco);
    text-decoration: none;
}

header {
    background-color: var(--preto);
    color: var(--branco);
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: var(--preto);
    color: var(--branco);
    padding: 5px;
    font-size: 0.8em;
    margin-top: 10px;
}

footer > p {
    margin: 0;
    padding: 5px 0;
    font-size: 70%;
}

section.texto > p {
    background-color: var(--translucido);
    width: 35%;
    height: 100%;
    margin-top: 20px;
    text-shadow: 1px 1px 0px var(--preto);
}

section {
    padding: 20px;
    line-height: 2em;
    font-size: 2vw;
}

.texto {
    padding: 20px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.514);
}

section > p {
    font-family: var(--fonte2);
}

p {
    margin: 20px;
    padding: 20px;
}

#flor {
    background-color: var(--preto);
    background: var(--preto) url('imagens/background001.jpg') right center no-repeat fixed;
    background-size: cover;
    color: var(--branco);
    height: 100%;
}

#paginas {
    background-color: var(--preto);
    background: var(--preto) url('imagens/background002.jpg') center center no-repeat fixed;
    background-size: cover;
    color: var(--branco);
    height: 100%;
}