@charset "UTF-8";

@font-face {
    font-family: "Idroid";
    src: url("fontes/idroid.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1: rgb(255, 255, 255);
    --cor2: rgb(7, 63, 7);
    --cor3: rgba(96, 165, 96, 0.478);
    --cor4: rgb(32, 128, 32);

    --estilo1: Arial, Helvetica, sans-serif;
    --estilo2: "Idroid";
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, rgb(87, 196, 87), rgba(87, 196, 87, 0.514));
    text-align: justify;
}

main {
    background-color: var(--cor1);
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 80%;
}

header {
    font-family: var(--estilo1);
    color: var(--cor1);
    background-image: linear-gradient(to bottom, rgb(49, 129, 49), rgb(33, 87, 33));
    margin: 0px;
    padding: 10px;
    text-align: center;
}

header > a {
    color: var(--cor1);
    text-decoration: none;
}

header > a:visited {
    color: var(--cor1);
    text-decoration: none;
}

header > nav {
    text-align: left;
}

main > h1 {
    font-family: var(--estilo2), Arial, Helvetica, sans-serif;
    color: var(--cor2);
    padding: 5px;
}

main > h2 {
    font-family: var(--estilo2), Arial, Helvetica, sans-serif;
    color: var(--cor2);
    background-image: linear-gradient(to right, rgba(25, 133, 25, 0.596), rgba(25, 133, 25, 0.137));
    padding: 5px;
}

main > aside {
    background-color: var(--cor3);
    border-radius: 10px;
    padding: 10px;
}

main > aside > h3 {
    background-color: var(--cor4);
    padding: 2px;
    margin: 0px;
    border: 0px;
    color: var(--cor1);
}

footer {
    background-color: var(--cor2);
    color: var(--cor1);
    font-family: var(--estilo1);
    text-align: center;
    margin: 10px;
}